@charset "utf-8";

#root,
.inner-wrap {
  min-height: 100vh;
}

.inner-wrap {
  width: 1184px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.3);
}

// 그리드 시스템은 아래와 같이 사용합니다.
// .selector {
//   1) 단순 레이아웃 분할
//   @include GridSystem(2);
//
//   2) 간격이 포함된 레이아웃 분할
//   @include GridSystem(2, 5px);
// }
