@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6,
  $grayscale-7,
  $grayscale-8
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    .event-banners {
      padding: 48px 0 80px;
      ul {
        @include GridSystem(2);
        li:last-child {
          border-left: 1px $grayscale-5 solid;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6, $grayscale-7, $grayscale-8 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6,
    $grayscale-7,
    $grayscale-8
  );
}
