@charset "utf-8";
@import '../../../styles/partials/mixin', '../../../styles/partials/variables';

.user-info-overview {
  display: flex;
  align-items: center;
  & > div:first-child {
    width: 100px;
    img {
      width: 100%;
    }
  }
  & > div:last-child {
    flex: 1;
    padding-left: 40px;
    div {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    h3 {
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      font-weight: 700;
    }
    button {
      padding: 0;
      border-bottom: 1px $grayscale-5 solid;
      font-size: 16px;
      font-weight: 700;
      color: $grayscale-5;
    }
    table {
      table-layout: fixed;
      width: 100%;
      margin-top: 24px;
      border-collapse: collapse;
      border-top: 2px $grayscale-1 solid;
      line-height: 24px;
      font-weight: 700;
      text-align: left;
      thead {
        font-size: 16px;
        color: $grayscale-1;
        th {
          padding-top: 15px;
        }
        th:last-child {
          text-align: center;
        }
      }
      tbody {
        font-size: 14px;
        color: $grayscale-5;
        td:last-child {
          text-align: center;
        }
      }
    }
  }
}
