@charset "utf-8";
@import '../../../styles/partials/mixin.scss';

.icon-wrap {
  @include FlexCenter;
  gap: 8px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;

  img {
    width: 32px;
    height: 32px;

    &[data-scale='big'] {
      width: 42px;
      height: 42px;
    }
  }
}
