@charset "utf-8";

// other colors
$blue: #2d71f7;
$navy: #083e7f;
$red: #ff3636;

// grayscale
$grayscale-1: #000;
$grayscale-2: #999;
$grayscale-3: #ccc;
$grayscale-4: #e0e0e0;
$grayscale-5: #fafafa;
$grayscale-6: #fff;
$grayscale-7: #e6e6e6;

$pallette: (
    (lightTheme, #000, #999, #ccc, #e0e0e0, #fafafa, #fff),
    (darkTheme, #fff, #fafafa, #e0e0e0, #ccc, #999, #000)
);

@mixin ThemeTransition {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
