@charset "utf-8";

// other colors
$red: #e92d44;
$blue: #4bb8ce;
$blue-secondary: #4190e2;
$green: #1c9e3a;
$yellow: #fae100;

// grayscale
$grayscale-1: #000;
$grayscale-2: #191919;
$grayscale-3: #333;
$grayscale-4: #888;
$grayscale-5: #c2c2c2;
$grayscale-6: #eee;
$grayscale-7: #f5f5f5;
$grayscale-8: #fff;
