@import '../../../styles//partials/mixin.scss';

.iconWrap {
  @include FlexCenter;
  gap: 8px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;

  img {
    width: 32px;
    height: 32px;
  }
}
