@charset "utf-8";
@import '../../../styles/partials/mixin', '../../../styles/partials/variables';

.event-banners {
  padding: 48px 0 80px;
  ul {
    @include GridSystem(2);
    li:last-child {
      border-left: 1px $grayscale-5 solid;
    }
  }
}
