@import '../../styles/partials/mixin.scss';

.count-select-wrap {
  display: flex;
  align-items: center;
  height: 48px;

  &[scale='full'] {
    width: 398px;
  }

  .op-name {
    @include FlexCenter;
    width: 219px;
    height: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    color: #fff;

    &[scale='full'] {
      width: 298px;
    }

    &[scale='small'] {
      width: 100%;
    }
  }

  button {
    width: 48px;
    height: 48px;
    font-size: 32px;
    border: 1px solid #999;
    color: #999;
  }
}
