@import '../../../styles/partials/mixin.scss';

.login-list {
  display: flex;
  gap: 16px;

  li {
    @include FlexCenter;
    height: 100%;
    font-size: 14px;

    a {
      color: #fff;
    }
  }

  .border-left {
    padding-left: 16px;
    border-left: 1px solid #fff;
  }
}
