@charset "utf-8";
@import '../../../styles/partials/mixin.scss';

.login-list {
  display: flex;
  gap: 16px;

  li {
    @include FlexCenter;
    height: 100%;
    font-size: 14px;

    &:last-child {
      padding-right: 16px;
      border-right: 1px solid #fff;
    }

    a {
      color: #fff;
    }
  }
}
