@charset 'utf-8';
@import '../../styles/partials/mixin', '../../styles/partials/variables';

.product {
  width: 32%;
  margin-left: 2.0009%;
  margin-bottom: 60px;
  &:nth-child(3n + 1) {
    margin-left: 0;
  }
}
