@charset 'utf-8';
@import '../../../styles/partials/mixin.scss',
  '../../../styles/partials/variables.scss';

.user-info {
  margin: 0 auto;

  form {
    width: 780px;
    margin: 46px auto 40px;
    font-size: 13px;
    legend {
      font-size: 15px;
      margin-bottom: 16px;
    }
    table {
      width: 100%;
    }

    tr,
    td {
      height: 68px;
      border: 1px solid #e1dedf;
    }
    td:first-child {
      width: 180px;
      padding-left: 29px;
      background-color: #f7f7f7;
    }
    td:last-child {
      input {
        margin: 15px 0 0 20px;
        padding-left: 22px;
        width: 480px;
        height: 35px;
        border: 1px solid #e1dedf;

        &:focus {
          outline: 0;
        }
      }

      span {
        font-size: 12px;
        margin-left: 25px;

        &.red {
          color: red;
        }
        &.black {
          color: #000;
        }
      }
    }
    .user-email {
      td:first-child {
        vertical-align: middle;
      }
      td:last-child {
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        .email {
          float: left;
        }

        .email-check {
          float: left;
        }
        input {
          width: 340px;
        }
        button {
          margin: 15px 0 0 20px;
          width: 120px;
          height: 35px;
        }
        span {
          float: left;
        }
      }
    }

    .user-phone {
      td:last-child {
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        .phone-box {
          height: 35px;
          float: left;
          position: relative;

          .bar {
            width: 6px;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 7px;
            top: 90%;
          }
        }
        select {
          margin: 15px 0 0 20px;
          width: 100px;
          height: 35px;
          padding-left: 38px;
          border: 1px solid #e1dedf;
        }
        input {
          margin-left: 20px;
          width: 100px;
        }

        button {
          margin: 15px 0 0 20px;
          width: 120px;
          height: 35px;
        }
      }
    }
  }
}
