@charset 'utf-8';
@import '../../../styles/partials/mixin.scss',
  '../../../styles/partials/variables.scss';

.user-info {
  margin: 0 auto;

  form {
    width: 680px;
    margin: 46px auto 40px;
    font-size: 13px;
    fieldset {
      & > .btn[type='submit'] {
        margin-top: 35px;
      }
    }
    legend {
      font-size: 15px;
      margin-bottom: 16px;
    }
    table {
      width: 100%;
    }

    th,
    td {
      height: 85px;
      border: 1px solid #e1dedf;
    }
    th {
      width: 180px;
      padding-left: 20px;
      background-color: #f7f7f7;
      vertical-align: middle;
      text-align: left;
    }
    td {
      .email-check,
      .phone-wrap,
      .input-wrap {
        display: flex;
        padding: 15px 20px 0;
        .signup-wrap {
          flex: 1;
        }
      }
      .input-wrap {
        flex-direction: column;
      }
      input {
        width: 100%;
        height: 35px;
        padding: 0 10px;
        margin: 0;
        border: 1px solid #e1dedf;

        &:focus {
          outline: 0;
        }
      }

      span {
        display: block;
        margin-top: 10px;
        font-size: 12px;

        &.red {
          color: red;
        }
        &.black {
          color: #000;
        }
      }
    }
    .user-email {
      td {
        vertical-align: top;
      }
      td:last-child {
        button {
          width: 120px;
          height: 35px;
        }
      }
    }

    .phone-wrap {
      justify-content: flex-start;
    }
    .user-phone {
      td:last-child {
        .phone-box {
          height: 35px;
          position: relative;

          .bar {
            width: 6px;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 7px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        select {
          width: 100px;
          height: 35px;
          padding-left: 38px;
          border: 1px solid #e1dedf;
        }
        input {
          margin-left: 20px;
          width: 100px;
          text-align: center;
        }

        button {
          width: 120px;
          height: 35px;
          margin-left: 30px;
        }
      }
    }
  }
}
