@charset 'utf-8';
@import '../../../styles/partials/mixin.scss',
  '../../../styles/partials/variables.scss';

.user-info {
  margin: 0 auto;
  //outline: 2px solid red;
  form {
    width: 780px;
    margin: 46px auto 40px;
    font-size: 13px;
    legend {
      font-size: 15px;
      margin-bottom: 16px;
    }
    table {
      width: 100%;
    }

    tr,
    td {
      height: 68px;
      //line-height: 68px;
      border: 1px solid #e1dedf;
    }
    td:first-child {
      width: 180px;
      padding-left: 29px;
      background-color: #f7f7f7;
    }
    td:last-child {
      //width: 70%;
      input {
        margin: 15px 0 0 20px;
        padding-left: 22px;
        width: 480px;
        height: 35px;
        border: 1px solid #e1dedf;

        &:focus {
          outline: 0;
        }
      }

      span {
        font-size: 12px;
        margin: 20px;
        //line-height: 12px;
      }
    }
    .user-phone {
      td:last-child {
        &::after {
          content: '';
          display: block;
          clear: both;
        }
        .phone-box {
          height: 35px;
          float: left;
          position: relative;
          //outline: 2px solid red;

          .bar {
            width: 6px;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 7px;
            top: 90%;
          }
        }
        select {
          margin: 15px 0 0 20px;
          width: 100px;
          height: 35px;
          padding-left: 38px;
          //font-size: 13px;
          border: 1px solid #e1dedf;
        }
        input {
          margin-left: 20px;
          width: 100px;
          //position: relative;

          // &::after {
          //   content: '';
          //   display: block;
          //   width: 5px;
          //   height: 1px;
          //   background-color: #000;
          //   position: absolute;
          //   left: 50%;
          //   top: 50px;
          // }
        }

        button {
          margin: 15px 0 0 20px;
          width: 120px;
          height: 35px;
        }
      }
    }
  }
}
