@import '../../styles/partials/mixin.scss';

.optionSelect {
  @include FlexCenter;
  width: 380px;
  height: 52px;
  background-color: #000;
  color: #fff;

  #thickness {
    width: 317px;
    height: 50px;
  }
}
