@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/variables';

.modal-backdrop {
  @include Position(fixed, 0, 0, 0, 0);
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
  @include Position(fixed, $top: 50%, $left: 50%);
  z-index: 100000;
  transform: translate(-50%, -50%);
  background-color: $grayscale-8;
  &[data-scale='xl'] {
    width: 980px;
    height: 580px;
  }
  &[data-scale='l'] {
    width: 680px;
    height: 320px;
  }
  &[data-scale='m'] {
    width: 620px;
    height: 400px;
  }
  &[data-scale='s'] {
    width: 580px;
  }
  &[data-scale='xs'] {
    width: 500px;
    height: 390px;
  }
  & > button {
    @include Position(absolute, $top: -20px, $right: -20px);
    @include Ir();
    width: 40px;
    height: 40px;
    padding: 0;
    background: $grayscale-1 url(../../../public/images/close_white.png)
      no-repeat 50% / 40%;
    border-radius: 50%;
  }
  .btn-group {
    @include Position(absolute, $bottom: 0, $right: 0, $left: 0);
  }
}

.cart-modal {
  @include FlexCenter;
  flex-direction: column;
  padding: 38px 50px 0;
  h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
  }
  .count-wrap {
    margin-top: 40px;
  }
  .option-select {
    margin-top: 20px;
  }
  .price {
    align-self: flex-end;
    display: block;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}
