@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

.list-banner {
  a {
    display: block;
    width: 100%;
    height: 208px;

    // 임시 스타일링
    font-size: 30px;
    line-height: 208px;
    text-align: center;
  }
}
