@import '../../../styles/partials/mixin.scss';

.order-pay-wrap {
  @include FlexCenter;
  flex-direction: column;
  width: 1180px;
  margin: 100px auto;

  h1 {
    font-size: 32px;
  }

  .pay-inner-wrap {
    @include FlexCenter;
    flex-direction: column;
    width: 980px;

    .box-wrap {
      @include FlexCenter;
      flex-direction: column;
      gap: 50px;
      margin: 117px 0 40px 0;

      .first-box {
        h2 {
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .radio-wrap {
          display: flex;
          align-items: center;
          width: 980px;
          height: 66px;
          padding: 0 25px;
          border: 1px solid #eee;
        }
      }

      .second-box {
        h3 {
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .order-item-wrap {
          @include FlexCenter;
          flex-direction: column;
          width: 980px;
          border: 1px solid #eee;

          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 775px;
            height: 25px;
            margin-top: 45px;
            margin-bottom: 40px;
            font-size: 15px;
            border-bottom: 1px solid #eee;

            .small-gray-font {
              padding-left: 16px;
              font-size: 13px;
              font-weight: bold;
              color: #c2c2c2;
            }
          }
        }

        .label {
          margin-top: 40px;
          margin-left: 16px;
          letter-spacing: -1px;
        }
      }
    }

    .btn-wrap {
      display: flex;
      gap: 8px;
      width: 100%;
    }
  }
}
