@import '../../../styles/partials/mixin.scss';

ul {
  display: flex;
  gap: 16px;
}

li {
  @include FlexCenter;
  height: 100%;
  font-size: 14px;

  button {
    color: #fff;

    &[scale='big'] {
      font-size: 18px;
    }
  }
}
