@import '../../styles/partials/mixin.scss';

.count-wrap {
  display: flex;
  align-items: center;
  width: 380px;
  height: 48px;
  color: #fff;

  &[scale='small'] {
    width: 120px;
    height: 38px;
  }

  &[scale='full'] {
    width: 396px;
  }

  p {
    @include FlexCenter;
    width: 100%;
  }

  .count-select-wrap {
    display: flex;
    align-items: center;
    height: 48px;

    &[scale='full'] {
      width: 396px;
    }

    &[scale='small'] {
      height: 38px;
      border: 1px solid #dcdcdc;
    }

    .op-name {
      @include FlexCenter;
      width: 221px;
      height: 100%;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      color: #fff;

      &[scale='full'] {
        width: 300px;
        color: #000;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
      }

      &[scale='small'] {
        width: 30px;
        height: 38px;
        color: #000;
        border: none;
      }
    }

    button {
      width: 48px;
      height: 48px;
      font-size: 32px;
      border: 1px solid #888;
      color: #888;

      &[scale='small'] {
        width: 40px;
        height: 38px;
        font-size: 28px;
        border: none;
      }

      &[scale='full'] {
        color: #dcdcdc;
        border: 1px solid #dcdcdc;
      }
    }
  }
}
