@charset "utf-8";
@import "./reset", "../partials/mixin", "../partials/theme", "../layout/layout";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
}

li {
    list-style: none;
}

a {
    color: initial;
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

main {
    width: 100%;
}

#theme-switcher {
    @include Position(fixed, $top: 0, $right: 0);
    z-index: 100;
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
}

[theme="darkTheme"] {
    #theme-switcher {
        background-image: url(../../../public/images/ic_light_theme.png);
    }
}

[theme="lightTheme"] {
    #theme-switcher {
        background-image: url(../../../public/images/ic_dark_theme.png);
    }
}

// 웹 접근성 처리
.a11y-hidden {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.hidden {
    position: absolute;
    z-index: -1;
    font-size: 1px;
    color: transparent;
}
